.card{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 233, 225);
    width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 10px 10px 20px rgb(138, 133, 133);
}
h3{
    padding: 10px 5px;
    margin: 0;
    letter-spacing: 2px;

}
ul{
    list-style: none;
    padding: 5px;
}
ul li{
    padding: 4px;
}
img{
    width: 300px;
    height: auto;
}
.text{
    font-size: smaller;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #110707;
    box-sizing: border-box;
}
#fact{
  font-family:  'Times New Roman', Times, serif; 
  font-style: italic;
  padding: 5px;

   
}
span{
    font-weight:bold;
}
#info{
    padding: 5px;
}